
#include "ktl_rc_version.h"
#include <ktl/rc/version.h>

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		KTL_FILEVERSION
	PRODUCTVERSION	KTL_PRODUCTVERSION
	FILEFLAGSMASK	KTL_FILEFLAGSMASK
	FILEFLAGS		KTL_FILEFLAGS
	FILEOS			KTL_FILEOS
	FILETYPE		KTL_FILETYPE
	FILESUBTYPE		KTL_FILESUBTYPE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "041104b0"
		{
			VALUE "Comments",			KTL_COMMENTS
			VALUE "CompanyName",		KTL_COMPANY_NAME
			VALUE "FileDescription",	KTL_FILE_DESCRIPTION
			VALUE "FileVersion",		KTL_FILE_VERSION
			VALUE "InternalName",		KTL_INTERNAL_NAME
			VALUE "LegalCopyright",		KTL_LEGAL_COPYRIGHT
			VALUE "LegalTrademarks",	KTL_LEGAL_TRADEMARKS
			VALUE "OriginalFilename",	KTL_ORIGINAL_FILENAME
			VALUE "PrivateBuild",		KTL_PRIVATE_BUILD
			VALUE "ProductName",		KTL_PRODUCT_NAME
			VALUE "ProductVersion",		KTL_PRODUCT_VERSION
			VALUE "SpecialBuild",		KTL_SPECIAL_BUILD
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation",	0x0411, 0x04b0
	}
}
